{% extends 'base.html' %}
{% block title %}Delete File - ArcheIO{% endblock %}
{% block list_active %}active{% endblock %}
{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Delete File</h1>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Are you sure you want to delete this file?</h4>
            <p>
            	<a href="{{ upload.file.url }}" target="_blank" rel="noopener noreferrer"><strong>{{ upload }}</strong></a>
           		({{ upload.file.size | filesizeformat }})</p>
            <hr>
            <p class="mb-0">This action cannot be undone.</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <a href="{% url 'storage:list' %}" class="btn btn-secondary">
                <i class="bi bi-x-circle-fill"></i> Cancel
            </a>
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-trash-fill"></i> Delete
            </button>
        </form>
    </div>
{% endblock %}
