{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block home_active %}active{% endblock %}
{% block body %}
    <h1>ArcheI/O</h1>
    <div class="col-lg-8 px-0">
        <p class="fs-5">
            You've found ArcheI/O - a local file sharing platform. Think Google Cloud... but local!
            Just imagine being able to share files across your local network without the need for an internet
            connection. With ArcheI/O, you can easily upload and share files with anyone on your local network, making
            it perfect for sharing documents, photos, videos, and more. Whether you're in a home or office setting,
            ArcheI/O provides a simple and efficient way to share files without the hassle of cloud storage or email
            attachments.
        </p>
        <p class="fs-5">That's right - no more waiting for files to upload to the cloud or worrying about storage limits. With
            ArcheI/O, you can share files directly from your local machine, making it faster and more secure than
            traditional file sharing methods. So why wait? Start sharing your files today with ArcheI/O!</p>

        <hr class="col-1 my-4">

        {% if request.user.is_authenticated %}
            <a href="{% url 'storage:upload' %}" class="btn btn-primary">Upload Now</a>
        {% else %}
            <a href="{% url 'user:login' %}" class="btn btn-primary">Login</a>
        {% endif %}
        <a href="https://github.com/mentix02/archeio" class="btn btn-secondary">View on GitHub</a>
    </div>
{% endblock %}
